[2019-09-03 01:43] andrewmcodes opened #1 "unhandled exception error"
[code]

[2019-09-03 01:50] andrewmcodes commented on #1
Solved with v0.1.1

[2019-09-03 01:50] #1 closed

[2019-09-03 01:53] andrewmcodes opened #2 "Refactor"
There is some good refactoring potential in `lib/index.rb`

[2019-09-03 01:56] andrewmcodes opened #3 "Update documentation"
Add documentation for using this.

Include:
- [ ] sample workflow file
- [ ] screenshots

[2019-09-03 01:59] andrewmcodes opened #4 "Add community resources"
Add community resources including:

- [x] code of conduct
- [x] issue templates
- [x] Pr template

[2019-09-03 02:02] andrewmcodes opened #5 "Add the rest of the rubocop gems"
I want this action to be a one-stop shop for all rubocop lints. To do that we need to add:

- [ ] rubocop-rails
- [ ] rubocop-performance
- [ ] rubocop-rspec
- [ ] rubocop-mintiest

May need to also specify config file options here as well..

[2019-09-03 02:05] andrewmcodes opened #6 "Log failures as a comment on the PR?"
Should we log failures as a comment on the PR or leave as is? More investigation needed.

[2019-09-03 02:32] #4 closed

[2019-09-03 03:06] #3 closed

[2019-09-29 09:05] lautis commented on #5
In my fork of the original(?) rubocop GitHub action, I've enabled using Bundler to install gems and also passing in results JSON. This gives the action user a lot of control of what Rubocop version and plugins are used.

https://github.com/lautis/rubocop-action

[2019-10-21 19:48] dnorth98 opened #16 "Unprocessable Entity when trying to update check"
GREAT action!  So I'm trying to use it and the Rubocop command is running and reporting violations but it looks like it's failing when trying to update the check:

[code]

I'm wondering if it's because I'm trying to use this on a private repo?  The github token is mapped in the env though so it SHOULD have permissions...

[2019-10-23 01:00] rpbaltazar opened #17 "Error when building"
I've added the action to my GitHub actions and this is what I'm getting when it runs:

[code]

No clue where to start debugging.

This is my current action file

[code]

[2019-10-24 00:06] andrewmcodes commented on #17
hm I am seeing this error `cannot load such file -- pry`. I will investigate further. Is the project public by chance @rpbaltazar?

[2019-10-24 00:07] andrewmcodes commented on #16
Interesting - I will take a look. Is this all of the output @dnorth98? If not, could you paste the full stack trace or link me to the repo if it's public?

[2019-10-24 00:09] andrewmcodes commented on #17
Also, what is your ruby version? Seeing several issues on the `actions/setup-ruby` repo and wondering if that could be causing this.

[2019-10-24 00:10] andrewmcodes commented on #16
@dnorth98 what is your ruby version?

[2019-10-24 00:10] #6 closed

[2019-10-24 12:53] dnorth98 commented on #16
Hi.  Here's the full output:'

[code]

and it's using the `setup-ruby` action which I'm using 2.6.3

[code]

Alas, the repo is a private repo..and I'm wondering if that is something to do with it?

[2019-10-24 14:53] rpbaltazar commented on #17
https://github.com/story-branch/story_branch/actions -> works
https://github.com/rails-on-services/ros/actions -> does not work

[2019-10-24 17:06] dnorth98 commented on #16
I think I see the problem here @andrewmcodes

So in the docs for updating a check:

https://developer.github.com/v3/checks/runs/

it says that:

[code]
 body = {
    "name" => @check_name,
    "head_sha" => @GITHUB_SHA,
    "status" => 'completed',
    "completed_at" => Time.now.iso8601,
    "conclusion" => conclusion,
    "output" => output
[code]

[2019-10-24 17:42] dnorth98 commented on #16
Ah alas, no.  I forked and ran a test and nope that's not it.  One of the other fields must be missing or incorrect then.  darn

[2019-10-24 23:23] andrewmcodes commented on #16
Ahh this is very helpful, I think I see the problem. I’ll update here once this is fixed.

[2019-10-24 23:26] andrewmcodes commented on #17
@rpbaltazar interesting. It looks like the only difference is one of those projects has a config file for rubocop and the other doesn’t. I’ll dig in to this tonight.

[2019-10-25 01:43] rpbaltazar commented on #17
The story_branch is a ruby only project while the ROS is a multi project rails structure. not sure if it causes some sort of problems. Particularly because most of the rails projects under ROS are engines so they have a gemfile and a gemspec. I do use pry on the ros so, might be something along those lines...

[2019-10-25 02:30] #5 closed

[2019-10-25 02:31] andrewmcodes commented on #17
@rpbaltazar I believe I have fixed the issue. Can you try upgrading too v0.2.0? The docs have been updated. Let me know!

[2019-10-25 02:32] andrewmcodes commented on #16
@dnorth98 I believe I have fixed the issue. Can you try upgrading too v0.2.0? The docs have been updated. Let me know!

[2019-10-25 05:16] rpbaltazar commented on #17
Just tried it and still facing the same issue:

https://github.com/rails-on-services/ros/commit/8a832128e9ccfd4bd4036d64417b884a1092b811/checks?check_suite_id=280826517

[2019-10-25 13:38] dnorth98 opened #19 "Results are not posted back to the original workflow"
Testing 0.2 and the issue with the check not working is indeed fixed.  However, what now happens is that the check passes even if there are Rubocop errors.  I was looking into why this was the case and it's because the results look to be posted back to a different workflow.  This is what I see:

![image](https://user-images.githubusercontent.com/6616703/67575500-b7639080-f70a-11e9-84dc-2417a86b33c

[2019-10-25 13:41] dnorth98 commented on #16
Tested...this is fixed!  Had a look at your fix...ahhh..a limit of 50 responses eh?!

Interestingly, in our current workflow we only run rubcop on the files that have changed in the pull request.  We do this by invoking Rubcop curently with:

`sh -c "git diff --diff-filter=d --name-only origin/master | xargs rubocop"`

I'd put together an [action to do this](https://github.com/rewindio/github-acti

[2019-10-25 17:30] andrewmcodes commented on #16
@dnorth98 im going to close this as a bug but if you’d like to open a new issue for a feature request I don’t think that would be hard to have as an option 😄

[2019-10-25 17:30] #16 closed

[2019-10-25 17:37] andrewmcodes commented on #19
I must have goofed somewhere when I was fixing the other issue. Shouldn’t be too hard to fix, I’ll try to get to it this weekend.

If you want to potentially submit a PR, I have a sneaky suspicion this change is bc of the two params I removed from the update check. https://github.com/andrewmcodes/rubocop-linter-action/commit/9f15426bbf28f623705f194afe9f27d3d093e15b#diff-50bc6ecbe313726f287069ac9ae

[2019-10-25 19:13] dnorth98 commented on #19
I had a quick look (forked the repo and added the fields back) but that didn't fix it.  It's weird.  The new `unnamed workflow` has a different SHA on it.  It's like the update_check is not setting the right hash..but it is as it's using the same variable value.

[2019-10-25 19:43] MiguelSavignano commented on #2
Hi @andrewmcodes.

I want to help you with the refactor.

I thinks it's better separate responsabilities y at least 3 files

- github_client
- report_dapter
- github_check_run_service

[2019-10-25 20:22] dnorth98 commented on #19
Well, I've spent ages on this and cannot see the solution :( . I did narrow down to the fact that it's on a subsequent commit to an existing PR that the problem seems to occur.  That is:

Create PR
make another commit to the PR - PROBLEM

Looking in the actions at the workflows then, there's a different "hidden" commit ID for what looks like a subsequent merge into the PR.  But I can't see why upd

[2019-10-25 20:47] andrewmcodes commented on #2
@MiguelSavignano awesome! Yeah I definitely agree. I have a Slack channel you can join if you’d like to talk about this but off the top of my head i want to:

1. Break up index.rb into separate files - as long as there isn’t any performance degradation
2. Look into using octokit gem
3. Find a good way to send in config options

[2019-10-25 20:49] andrewmcodes commented on #19
Interesting. I made a test repo last night to fix the other bug and it doesn’t appear to do this on pushes to master. I’ll take a look this weekend!

[2019-10-25 20:52] andrewmcodes commented on #17
@rpbaltazar Weird. I’ll look into this more. It’s worth noting you can run a rubocop action (minus the annotations) pretty easily. I can paste in the config you need if it would help and you don’t really care about annotations.

[2019-10-25 21:34] dnorth98 commented on #19
Just ran one more test.  It's not just subsequent commits to the PR, it's on a new PR as well.  so weird!

I put a post on the actions board too https://github.community/t5/GitHub-Actions/Action-on-PR-and-subsequent-commit-to-PR-gives-quot-unnamed/m-p/36008#M2415

I get like a dog with a bone about this stuff - esp as this would be SUPER helpful to our dev team!  Thanks for continuing to have a lo

[2019-10-25 21:36] dnorth98 commented on #19
Oh one other test I did was to just rubocop a single file just to make sure it wasn't because of a larger number of violations.  That gave me the same result.

[2019-10-25 22:34] dnorth98 commented on #19
I think it's a bug  in GH actions :) . So I've done a bunch of reading and after reading this actions issue (https://github.com/actions/toolkit/issues/74), I understand things a lot better now:

There's no way to create annotations for an existing check currently
This is why the solution needs to create a new check (and workflow) and add the annotations to it

The only thing I don't know is why I'

[2019-10-26 21:04] MiguelSavignano commented on #17
@rpbaltazar

Your project it's required a custom rubocop linter.
In the [redundant_factory_bot.rb](https://github.com/rails-on-services/ros/blob/master/lib/core/spec/support/rubocop/redundant_factory_bot.rb) file

This Rubocop linter action runs in a docker container with only this gems

[code]
Because of this when run rubocop thows this kind of error.

Please check if you need to require pry in t

[2019-10-27 03:28] rpbaltazar commented on #17
@MiguelSavignano Thank you for pointing that out! It must have slipped through when we were debugging the linter... 🤦‍♂
Let me remove it and try again the rubocop linter

[2019-10-28 18:45] andrewmcodes commented on #17
Thanks you @MiguelSavignano

[2019-10-28 18:45] #17 closed

[2019-10-29 00:16] #2 closed

[2019-10-29 00:34] andrewmcodes commented on #19
@dnorth98 In order to have annotations posted on pull requests, you need to have this set as the configuration:

[code]

instead of:

[code]

`¯\_(ツ)_/¯`

[2019-10-29 00:34] #19 closed

[2019-10-29 01:00] andrewmcodes opened #27 "add ability to specify a path to a config file"
https://docs.rubocop.org/en/stable/basic_usage/#command-line-flags

[2019-10-30 16:48] MiguelSavignano commented on #27
I think it's better to generate the report in other step and only pass the report path to this actions.

This kind of solution resolves any issue to generate rubocop json report.

Example:

[code]

[2019-10-30 21:35] andrewmcodes commented on #27
@MiguelSavignano sorry I should have been more clear. Right now when you run this action, it uses all the default cops. If you have a rubocop configuration file in your project, it would be able to pass that path in so rubocop will adhere to the rules in that file (like turning off certain cops, excluding files, etc).

[2019-11-04 01:09] chiefpansancolt opened #28 "Received Unprocessable Entity on version 1.0.0"
I saw that a fix was applied for the Unprocessable Entity error but looks like I have received another variation. Running locally i receive no rubocop errors so I know I am not going over the limit of annotations.

[code]

Please let me know if there is any more details needed or something I am missing.

[2019-11-05 06:42] andrewmcodes commented on #28
@chiefpansancolt thanks for submitting an issue. I’ll check this out. Do you have an example repo by chance?

Also, are you using this action on a production repo? I’m just trying to gauge who is using this action and why since recreating this action without the the annotations is pretty easy (happy to share an example config).

@MiguelSavignano any chance you can check this out before the weekend

[2019-11-05 06:51] andrewmcodes commented on #28
Looks like the GitHub annotation api changed again...

It now requires a start and end line integer value. I’ll have to see if we can get that out of rubocop or if we need to fake it.

[2019-11-05 21:27] andrewmcodes commented on #28
@chiefpansancolt are you sure you are using v1.0.0 of the action? I have not been able to recreate this on my test repo..

[2019-11-05 21:34] chiefpansancolt commented on #28
yes was using this line for usage: `andrewmcodes/rubocop-linter-action@v1.0.0` my repo is also private if that makes a difference since the test repo for you is public I assume.

[2019-11-05 21:35] chiefpansancolt commented on #28
[code]

Here is my linter file configuration

[2019-11-05 21:37] chiefpansancolt commented on #28
I see on your test repo you are looking at a different version of a specified commit ID

https://github.com/andrewmcodes/rubocop-linter-action-test/blob/master/.github/workflows/rubocop.yml#L17

maybe change to match the above to see if that changes your testing outcome?

[2019-11-05 22:26] andrewmcodes commented on #28
@chiefpansancolt I just figured out what's going on. Apparently this triggers when there are no failures. Working on a fix now.

[2019-11-05 22:37] andrewmcodes commented on #27
I was wrong, this action will use your rubocop config file if it is in your repository.

[2019-11-05 22:37] #27 closed

[2019-11-05 22:41] #28 closed

[2019-11-05 22:47] andrewmcodes commented on #28
@chiefpansancolt I got it figured out. Will bump the version momentarily.

[2019-11-07 02:05] andrewmcodes opened #38 "Create automated changelog"
I want to keep a changelog bc of how easy it is to specify action versions.

[2019-11-07 12:47] chiefpansancolt opened #40 "Receiving Unprocessable Entity on Version 1.0.1 when errors are present"
# Bug Report

## Describe the bug

When Rubocop has a violation of a cop I receive Unprocessable Entity error and the lint fails to execute and post back the annotations

# To Reproduce

Steps to reproduce the behavior:

Have a violation in the repo on push.

# Expected behavior

Post annotations for rubocop violations

## Stacktrace

[code]

## Action Version & Workflow File

 - Version 1.0.1

##

[2019-11-07 16:14] andrewmcodes commented on #40
There was a bug in 1.0.1.

Bumping to v1.0.2 should work. Can you try that and let me know @chiefpansancolt? Sorry about that.

[2019-11-07 16:27] chiefpansancolt commented on #40
still receiving the same error @andrewmcodes

[2019-11-07 18:03] andrewmcodes commented on #40
Well that’s frustrating bc it was working when I tested it last. Same unprocessable entity error @chiefpansancolt?

[2019-11-07 18:05] chiefpansancolt commented on #40
yes same stack trace. In your test repo is there violations?

[2019-11-07 18:29] andrewmcodes commented on #40
@chiefpansancolt i have been testing with and without specifically for this reason. I’ll be able to look into this in an hour or so. Has it ever worked for you?

[2019-11-07 18:39] chiefpansancolt commented on #40
haha anything is possibly with the API since it is still beta. So it did work and still does when I have zero rubocop violations the moment i get a violation is when i get the error in the issue. My repo is also private not sure if that causes an issue. @andrewmcodes

[2019-11-07 18:41] andrewmcodes commented on #40
@chiefpansancolt ok I know what’s going on but I’m not sure why bc I swore I fixed this already. I assume it works if you have at least one error?

[2019-11-07 18:48] chiefpansancolt commented on #40
No the moment I have one violation I get the Issue. I tested it but starting with a clean slate then added a lineLength violation and the workflow errored.

[2019-11-07 19:01] andrewmcodes commented on #40
@chiefpansancolt wait so it works if you don’t have failures but if you do have failures it doesn’t?

[2019-11-07 19:02] chiefpansancolt commented on #40
Thats Correct if I have zero Violations it runs successfully. The moment a violation happens like LineLength, it errors out. @andrewmcodes

[2019-11-07 19:10] andrewmcodes commented on #40
@chiefpansancolt ok that makes way more sense. Give me a minute and I’ll have something for you to try.

[2019-11-07 19:31] andrewmcodes commented on #40
@chiefpansancolt try changing out `andrewmcodes/rubocop-linter-action@v1.0.2` for `andrewmcodes/rubocop-linter-action@eae558593efd0868739e3c177352ca62480560ec`. It should work fine now.

[2019-11-07 19:39] chiefpansancolt commented on #40
@andrewmcodes that worked, why did that work over using 1.02?

[2019-11-07 19:47] andrewmcodes commented on #40
because I didn't read the code I let in as well as I should have haha. Before we were sending the entire payload of `rubocop --format json` which looks something like:

[code]
{:name=>"Rubocop", :head_sha=>"f7295c19b8b662663e1dbb385f3a2f9247770ecb", :status=>"completed", :started_at=>"2019-11-07T19:34:47+00:00", :conclusion=>"failure", :output=>{:title=>"Rubocop", :summary=>"3 offense(s) found", :

[2019-11-07 19:56] #40 closed

[2019-11-07 20:03] andrewmcodes commented on #40
@chiefpansancolt you should be all set to use `v1.0.3`.

[2019-11-07 22:24] andrewmcodes commented on #38
fixed by #44

[2019-11-07 22:24] #38 closed

[2019-11-13 05:20] rpbaltazar opened #45 "[Enhancement] Add ability to use custom rubocop gem"
In my current use case, I have published a gem for the company to use. This ensures that all projects follow the same standards.

In one of my projects I have a mono repo with multiple ruby projects that I want to lint and use the custom gem. There is no gem file in the root of the project. Is there a way to specify the gem to be installed?

Or would the easiest way be fork your repo and update th

[2019-11-13 05:37] andrewmcodes commented on #45
It sounds like you’d want to fork at this point.

However if you want to contribute I’d accept a PR that would allow you to pass in a parameter to toggle between bundling the projects gemfile vs just gem installing rubocop like I do today.

Happy to collaborate on this if you’re interested but I haven’t added it since I don’t have a need for it.

[2019-11-14 13:55] andrewmcodes commented on #45
@rpbaltazar thought I’d give you an update that I did something similar to what I mentioned above with regards to allowing the user to specify a flag that will tell the action to bundle the gemfile vs gem installing rubocop and it was pretty easy and I’d be willing to add it.

I also tried allowing the user to input a string of gems and had issues with that since I was trying to split the string u

[2019-11-14 14:33] InteNs opened #47 "[suggestion] offending cop name in annotation message"
I think it would be useful if the offending cop name is visible in the annotation so the cop can be easily googled for more information.

[2019-11-14 16:03] rpbaltazar commented on #45
Hi @andrewmcodes,
thank you for the feedback and support so far. I have not had the time yet to look at this. At the moment it sits on a lower priority queue for us. Its more of a personal thing at the moment. We are (running the actions)[https://github.com/rails-on-services/ros/actions] and getting the feedback from running directly rubocop. Probably I'll have a bit of time to look at this over t

[2019-11-14 21:05] bbugh opened #48 "Use bundled version of rubocop instead of latest gems"
Hi 👋 Thanks for this action.

# Bug Report

## Describe the bug

We installed this action, but were not on the latest version of Rubocop. The action installed the latest versions, so we had some issues. It would be much preferable to use the bundled versions.

# To Reproduce

Steps to reproduce the behavior:

1. Have a Gemfile.lock with older rubocop
2. Have some errors in the latest version
3. Us

[2019-11-14 21:20] bbugh commented on #47
@InteNs I proposed a pull request for this in #49

[2019-11-14 22:27] andrewmcodes commented on #48
@bbugh Hey there!

So I have had this conversation before, not sure if its been on this repo specifically. I am open to a change to add this functionality in, and probably will myself if I find some time (would love if you take a shot at it though 😄)

This is one of three very similar actions, with more coming, and I would like to keep the code the same as much as I can so I am planning to add it

[2019-11-14 22:34] #47 closed

[2019-11-14 22:43] andrewmcodes commented on #45
@rpbaltazar Cool, I am currently coming up with the best way to do this as well.

[2019-11-14 23:30] bbugh commented on #48
That does seem pretty easy!

I know very little about how the actions work yet, but with the yaml could you use an array for the gems?

[code]

[code]

[code]

[2019-11-15 00:05] andrewmcodes commented on #48
I tried that and it didn't work but I was running on no sleep so I will give it another shot

[2019-11-18 17:38] andrewmcodes commented on #48
You should be able to do this with the new v1.0.5 release.

[2019-11-18 17:38] #48 closed

[2019-11-18 17:39] andrewmcodes commented on #45
You should be able to do this with the new v1.0.5 release.

[2019-11-18 17:39] #45 closed

[2019-11-19 09:25] rpbaltazar commented on #45
Works like a charm! 👍

[2019-11-21 09:50] InteNs opened #57 "Error when building"
# Bug Report

## Describe the bug
Rubocop executable is being executed with incompatible params

it seems there is a problem both with the docker run command and the rubocop command within

# To Reproduce
FYI:
we have a mono repository so the file_path is to only check the ruby backend files.
I'm not sure if I have to pass config-path as well since rubocop should look for those itself within the n

[2019-11-21 12:30] InteNs commented on #57
partially related to #55 I think.

[2019-11-22 00:14] andrewmcodes commented on #57
@InteNs Thank you. Sorry I have not been able to take care of this yet but I am working on it right now as well as a way to make this less error prone. I will release a new version this evening.

[2019-11-22 02:19] #57 closed

[2019-11-22 04:33] andrewmcodes commented on #57
@InteNs Should be all good now.

@all-contributors please add @InteNs for bug

[2019-11-22 15:46] deanwilson opened #63 "Rubocop action stops the build even when level is set to fatal"
# Bug Report

## Describe the bug

I want to run the rubocop action and have it report the output but not fail the build.

# To Reproduce

When running rubocop on the command line the job doesn't have any fatal level offences.

[code]
but it does have offences at other levels, which do not fail the command when the fail level is set.

[code]

When adding this same config to the action the Rubocop

[2019-11-22 17:45] andrewmcodes commented on #63
@deanwilson remove the env variable and make fatal a string.

[code]

[2019-11-22 17:49] deanwilson commented on #63
I think that still fails for me - https://github.com/deanwilson/puppet-deprecate/pull/9/checks?check_run_id=316469635

And the changed code -
https://github.com/deanwilson/puppet-deprecate/blob/5f7c61ba408f50f917d109d6be86cf2b6a981c77/.github/workflows/ruby.yml

[2019-11-22 18:48] andrewmcodes commented on #63
@deanwilson hm I bet it has to do with the way rubocop works. Can you do a favor for me and run these two commands on your codebase and paste the results?

`bundle exec rubocop --fail-level 'fatal' -f json`

`bundle exec rubocop -f json --fail-level 'fatal'`

[2019-11-22 18:54] deanwilson commented on #63
Prepare for horrible pastes - the first one is

<details>
```{"metadata":{"rubocop_version":"0.76.0","ruby_engine":"ruby","ruby_version":"2.5.0","ruby_patchlevel":"0","ruby_platform":"x86_64-linux"},"files":[{"path":"Gemfile","offenses":[{"severity":"warning","message":"Lint/ScriptPermission: Script file Gemfile doesn't have execute permission.","cop_name":"Lint/ScriptPermission","corrected":false

[2019-11-22 18:55] deanwilson commented on #63
Third one didn't display - retry

<details>
[code]
</details>

[2019-11-22 19:00] deanwilson commented on #63
Your theory looks good -

[code]

[2019-11-23 05:57] andrewmcodes commented on #63
Looks like we just need to add some more logic. Right now we add the content of that json output to an array that we then parse and send to the checks api.

Since rubocop outputs all failures regardless of the fail level, what we should actually be doing is deciding whether to add the failure to the output array based on the fail level.

I’ll have to think about the most elegant way to get that be

[2019-11-25 09:50] InteNs opened #64 "[request] ability to set working directory"
Hi @andrewmcodes,
unfortunately in the latest version where you fixed issue #57 for me you removed the file_paths feature.

now our repo is a mono repo and we really need to set a `working_directory` so rubocop only runs within the backend project root, and not the entire GitHub workspace. (where a few other ruby projects exist as well as some non ruby projects)

[2019-11-26 00:45] andrewmcodes commented on #64
@InteNs Setting the file path didn't actually work with the json format. I would suggest configuring your rubocop config file to specify includes or use the actions `working-directory` feature.

[2019-11-26 09:50] InteNs commented on #64
working-directory feature doesn't work with `uses: ` steps (actions), only with `run: `

we would need to add a path as argument to the action with a `cd path` command in the index I would guess.

your thoughts?

[2019-11-27 00:31] maria-kravtsova commented on #40
I'm getting this error on v2.0.0

[code]

[code]

[2019-11-27 01:43] andrewmcodes commented on #40
@maria-kravtsova I’m not able to reproduce. Can you create a reproduction repo or link a commit?

[2019-11-30 18:52] eregon opened #67 "The RuboCop version is not respected if there are extra gems"
# Bug Report

## Describe the bug

The RuboCop version is not respected if there are extra gems.

# To Reproduce

See https://github.com/ruby/spec/commit/99c2f5f314a96ce9339137d29b1ec7fc5b3a3fa2/checks?check_suite_id=335901510
[code]

i.e., rubocop 0.77.0 ends up being used, even though `version: 0.61.0` is specified.
In that case I just used the default for `additional_gems` (#66).

Steps to repr

[2019-11-30 19:24] eregon opened #68 "This action seems to not work for Pull Requests"
# Bug Report

## Describe the bug

This action seems to not work for Pull Requests.

https://github.com/ruby/spec/commit/1cfa9f188e8342993d149807210b6777189cfe3f/checks?check_suite_id=335929828
PR: https://github.com/ruby/spec/pull/737
[code]

It seems to only work when making a pull request from the same repository but not from a fork.

## Action Version & Workflow File

 - Version v2.0.0

### Wo

[2019-12-03 14:38] andrewmcodes commented on #64
@InteNs could you cd into the directory then run the action? I am not sure if that would work - just spitballing.

[2019-12-03 14:53] InteNs commented on #64
I can't use any `run` commands in conjunction with `uses`
the actions are completely separate from the previous steps in a workflow

cd into the directory has to happen within the action itself (like `index.rb` or `entrypoint.sh`)

maybe [here](https://github.com/andrewmcodes/rubocop-linter-action/blob/master/lib/index.rb#L31) we could use `ENV['RUBOCOP_ROOT'] || ENV['GITHUB_WORKSPACE']` or someth

[2019-12-03 15:07] andrewmcodes commented on #64
I’d be open to a PR but I don’t have the bandwidth right now.

It would be pretty easy to follow the pattern we have set for creating an argument to allow you to change your directory to run the command. The only interesting issue I can think of is how to handle an invalid path but the rest seems straightforward.

Is this something you’d be interested in making a PR for? Otherwise I’d suggest doin

[2019-12-03 15:08] andrewmcodes commented on #68
Correct. That is a limitation of the API right now.

I see you already implemented a solution, which was exactly what I would have suggested.

Anything else I can help with?

[2019-12-03 15:10] andrewmcodes commented on #67
@eregon

Correct.

See this note in the readme:

[2019-12-03 15:45] InteNs commented on #64
At the moment I don't have the time to actually dive into this.
for now we are using a normal run command with rubocop and missing out on the GitHub Checks API.

in 1.5 months or so I can look into this more.

in the meantime if anyone is up for it be my guest.

[2019-12-06 18:30] ilyazub opened #70 "Lint changed files only instead"
Right now `rubocop` action [lints all files](https://github.com/andrewmcodes/rubocop-linter-action/blob/01f0c0bf06a8e4a5d0ef85b45cd2e0f4dd45e1b4/lib/index.rb#L22), annotates unchanged files and don't annotate changed ones when there are a lot of offenses.

![image](https://user-images.githubusercontent.com/282605/70346297-b3c53c80-1866-11ea-840a-a4b76097e69e.png)

@andrewmcodes, what do you think

[2019-12-06 21:25] andrewmcodes commented on #70
@ilyazub i’ll happily accept a PR. I don’t personally have a use case for this and also think it’s an anti pattern.

Imo if you are using rubocop you should have your entire codebase on it, not part. And if that’s not something you’re willing to do, I’d take advantage of `rubocop --auto-gen-config` to ignore the failing lints you aren’t willing to fix. I was on a team that ran rubocop in the way y

[2019-12-06 21:25] #68 closed

[2019-12-06 21:28] andrewmcodes commented on #64
I explained my reasoning for not wanting to add this in #70. Please follow up there if needed. ❤️

[2019-12-06 21:28] #64 closed

[2019-12-09 13:21] ilyazub commented on #70
Yep, that's the reason we hadn't fixed all offenses. Let me think about `rubocop --auto-gen-config`.

Thanks for your detailed answer :+1: I'll submit a PR if our team consider to go this way.

[2019-12-09 20:29] hackerdude commented on #63
I just ran into this. I believe you also have to check the value of $? afterwards.
On Rubocop, --fail-level still produces the same output, but returns 0 _depending on the result_.

So what it should be doing is always commenting on the lines (so the outputs of other level warnings continue to become notes), but passing the check.

[2019-12-09 21:06] hackerdude commented on #63
Ok, Check out the PR above. It's working well to pass the checks respecting rubocop's pass/fail semantics but still produces a report on my fork.

[2019-12-10 00:03] andrewmcodes commented on #70
@ilyazub of course. I am considering changing some of the configuration up, which would allow options like this to be much less invasive. I will let you know if I decide to go that route.

[2019-12-10 00:12] #67 closed

[2019-12-10 15:09] #63 closed

[2019-12-11 01:55] andrewmcodes commented on #70
@ilyazub this will be added in v3.0.0 (see #75)

[2019-12-12 11:24] ilyazub commented on #70
Thanks! We've introduced `.rubocop_todo.yml` on our side, so this issue (#70) can be closed. Thanks for suggesting the correct way to use `rubocop`.

[2019-12-12 11:24] #70 closed

[2019-12-12 14:40] eregon commented on #68
This sounds worth mentioning in the README, could you add it?
This makes the checks API basically useless for open-source projects with external contributors.

It's just running the command-line, but of course it doesn't point at the issues in the diff.

[2019-12-12 14:46] eregon commented on #67
Relates to my comment in https://github.com/andrewmcodes/rubocop-linter-action/pull/66#issuecomment-565035433

[2019-12-12 14:47] eregon commented on #68
I shall say though: Thank you for this action, it works well when running from a branch inside the same repository :)

[2019-12-14 23:22] andrewmcodes commented on #68
@eregon thank you! There are some big changes coming and along with that I am building up a wiki and I have just put this there. Though, I have heard some say they have fixed it, I just don't have a great way to test it. If that's something you'd be willing to help with let me know!

[2019-12-14 23:31] andrewmcodes commented on #68
@eregon Now that the API for this action has been drastically cleaned up, I believe it would not be too hard to make the checks conditional on the actor and other GH variables. If someone is opening a PR to a forked repo, we could do something like Pronto and create code review comments.

[2019-12-25 12:15] eregon commented on #68
@andrewmcodes I think, *until this action works on PRs from forked repositories*:
* This issue should remain open
* There should have a mention in the README to mention this very important limitation. Anyone trying to set up this action and then realize it doesn't work for Pull Requests is gonna be disappointed and have spent a fair amount of time for not much working in the end.

[2019-12-25 12:23] eregon commented on #68
PR to address the second point:
https://github.com/andrewmcodes/rubocop-linter-action/pull/90

[2020-01-06 10:35] erichmachado opened #91 "Action breaks if RuboCop check outputs a start_column value greater than the last_column for the line"
First of all, thank you for the awesome work on this Action, it is really helpful.

# Bug Report

The Action seems to break when there's a RuboCop check that outputs a `start_column` value greater than a `last_column` value, for the same line. One such check is `Layout/TrailingBlankLines`, there might be others.

# To Reproduce

One way to reproduce it is to force the trailing blank line issue on

[2020-01-06 13:14] erichmachado opened #93 "Specify RuboCop version and its extensions using the same configuration key"
# Feature Request

## The Problem

I believe it would be more concise to define all dependencies versions under the same configuration key, instead of having a separate key for `rubocop_version` and `rubocop_extensions`. This would allow to streamline the logic inside `Install`.

If you like that idea, I'm willing to open a PR for that.

## The Solution

[code]

If not defined, then it would resol

[2020-01-07 14:48] andrewmcodes commented on #93
I like the idea!

My only thought would you’d need to make sure that the gem is always added even if it’s not in that config hash.

Happy to accept a PR. Thanks for such a well written issue!!

[2020-01-07 22:14] #91 closed

[2020-01-09 12:15] seerahulsingh opened #96 "Rubocop Results action is running forever"
I have added this action in fresh rails project(rails 6, ruby 2.7) with following config:

[code]

[code]
Its been now 2.5 hrs and its still running
![rubocop-results](https://user-images.githubusercontent.com/4716928/72066915-c987b080-32af-11ea-9da6-e88dacda23cb.png)

[2020-01-09 22:52] seerahulsingh commented on #96
still running, now its more than 13 hrs
![rubocop-result-](https://user-images.githubusercontent.com/4716928/72111452-d84e8180-3308-11ea-9e6b-d588942cbdd9.png)

[2020-01-11 00:26] #93 closed

[2020-01-11 00:29] andrewmcodes commented on #96
That's...odd...

I will take a look but you may want to email support in the meantime to get them to stop it. It's possible it's not actually running and it just looks that way in the UI but if it is, you'll want to get GitHub to stop it.

[2020-01-11 00:32] andrewmcodes commented on #96
I think this may be a bug with GitHub. Try making another push and see if it will stop that run.

[Reference](https://github.community/t5/GitHub-Actions/Action-stuck-for-4-days-with-Local-Runner-Windows/m-p/37895#M3119)

[2020-01-11 04:49] andrewmcodes commented on #96
I released v3.0.0.rc3 which has a fix that should help prevent this or at least offer more of an idea as to why it's happening.

I can't really help any more than that bc I was never able to recreate a situation exactly like this. I was able to get the action to create a check run that wasn't canceled, which seems to be what happened here, and I have added #99 to send a complete message on failed

[2020-01-11 06:40] seerahulsingh commented on #96
thank you @andrewmcodes for looking into this.

Now Im getting different error. Its in build step. (Also I found that even if build has failed, rubocop results is running. Shouldn't that be failed too?)

I have pushed repo here so you can reproduce previous one(where its running forever) and this case too. https://github.com/seerahulsingh/rails-vue-sample-app

`I have send support email to github

[2020-01-11 06:46] seerahulsingh commented on #96
Also one important thing to note
`When I make any ruby code changes and if it has linting issues only then the result was succesfull but not when there is no linting issue, it just run forever`

[2020-01-16 01:34] andrewmcodes commented on #96
Thank you so much for the reproduction @seerahulsingh.

I guess every failure point needs to make sure to send a failure to the check, which is unfortunate...

I’ll have to think about this some more, I’m hoping there’s a way to rescue all failures or don’t create the check unless the action succeeds.

[2020-01-16 01:47] andrewmcodes commented on #96
@seerahulsingh try targeting master. I merged something that should fix this.

Just update your action:

`uses: andrewmcodes/rubocop-linter-action@andrewmcodes/master`

[2020-01-16 02:18] andrewmcodes commented on #96
@all-contributors please add @seerahulsingh for bug

[2020-01-16 09:42] nononoy opened #105 "Only modified files"
# Bug Report
A whole codebase were linted
![Снимок экрана-20200116123754-639x200](https://user-images.githubusercontent.com/5082711/72512564-290c3000-385d-11ea-8a3d-47e82105edb3.png)

# To Reproduce

just set check_scope: 'modified'

# Expected behavior

Only changed files were linted

## Action Version & Workflow File

 3.0.0.rc4

### Workflow File

[code]
[code]

[2020-01-16 10:53] seerahulsingh commented on #96
rc4 testing:

1. I switched to r4c and Im getting same error
![with-bundle-false](https://user-images.githubusercontent.com/4716928/72518538-94d1a700-3823-11ea-881b-7a6f1c87518b.png)
Does it has anything to do with require line in my local `.rubocop.yml`
[code]

2. Then I ran it again with `bundle: true` in `rubocop_linter_action.yml`, but this is also failing in bundle install step. Its failed to

[2020-01-16 16:15] andrewmcodes commented on #96
@seerahulsingh yes the error is because you don’t have the rubocop rails gem installed. Are you using the most recent config? It was changed in rc3.

Even though you have this error, is the action still running indefinitely?

[2020-01-16 22:09] seerahulsingh commented on #96
@andrewmcodes No I wasn't running on most recent config. Thank you for pointing that.

Its working with updated config.

And No I didn't ran indefinitely above.

I think we are now good to release v3

Thank you!

[2020-01-17 07:04] andrewmcodes commented on #96
thank you ❤️

[2020-01-17 07:04] #96 closed

[2020-01-17 07:19] seerahulsingh commented on #105
@nononoy did you set path of your rubocop_linter_action.yml in workflow file?
[code]

[2020-01-17 07:57] nononoy commented on #105
it's not necessary if I use default location in .github/config

[2020-01-17 08:00] andrewmcodes commented on #105
@nononoy can you paste the log file? I just tested this and am not seeing this. I did see a problem when using actions checkout v2 but not v1.

[2020-01-17 08:02] andrewmcodes commented on #105
Also what’s the file name of your config?

[2020-01-17 08:02] andrewmcodes commented on #105
Didn’t mean to close.

[2020-01-17 08:32] nononoy commented on #105
[code]

[2020-01-17 08:32] nononoy commented on #105
.github/config/rubocop_linter_action.yml

[2020-01-17 23:30] andrewmcodes commented on #105
@nononoy could you create a reproduction? I haven’t been able to recreate. Let me know if you need a template

[2020-01-23 06:19] nononoy commented on #105
sorry for the delay.

here is my reproduction template: https://github.com/nononoy/rubocop-linter-action-issue-105-reproduction

[2020-01-24 04:26] andrewmcodes commented on #105
@nononoy thanks for the reproduction.

This has to do with this command: `git diff origin/master --name-only --diff-filter=AM | xargs rubocop ....`

This will not work on commits to master, only on pull requests. Run the command locally to see why. This command does a diff against master and doesn't work the same when you are comparing master against itself (essentially what a commit to master is)

[2020-01-24 04:27] andrewmcodes commented on #105
The above commit documents the behavior better ^

[2020-01-24 08:28] nononoy commented on #105
Thanks for your explanations, quite understandable. Let me think how to handle that case. Anyway i close this issue.

[2020-01-24 08:28] #105 closed

[2020-01-29 17:39] ggennrich opened #121 "Unable to pull private gem"
# Bug Report

## Describe the bug

I am fairly new to GitHub actions so my apologies if I am doing something dumb. Using the `bundle: true` option with private gems leads to an error saying it can't find ssh even with the `ssh-agent` action defined

# Reproduction Steps

- Set `bundle: true`
- Include private gem in `Gemfile`
- Watch the action complain it can't find ssh to retrieve the gem

# Exp

[2020-01-30 02:20] andrewmcodes commented on #121
hm yeah this one is going to be really hard to debug without a reproduction..

Is there a reason why you need to bundle? Hard to say without seeing your gemfile but I would say if you don't need to bundle, that would be your solution.

[2020-02-18 13:16] DominikAlberski opened #123 "Configuration file seems not to be loading"
Action is not loading configuration options

I've placed my configuration at `.github/config/rubocop_linter_action.yml` with:
[code]
and got this info from build:
[code]
Could You please help me I don't know what I'm doing wrong with this one.

[2020-02-19 02:55] andrewmcodes commented on #123
My first guess is that you aren’t requiring that extension in your `.rubocop.yml`

[2020-02-19 07:06] DominikAlberski commented on #123
In my .rubocop.yml file I got:
[code]
also in configuration I specified rubocop version to '0.79.0' but it is instaling '0.80.0'

[2020-02-22 03:10] andrewmcodes commented on #123
@DominikAlberski can you create a reproduction? [Click here](https://github.com/handcars/rubocop-linter-action-reproduction-template/generate) and add me as a contributor to it?

[2020-02-25 02:48] rpbaltazar opened #124 "Are we able to run ruby 2.6.5 with version 3?"
# Documentation

## Describe

Nothing is mentioned in the documentation so I assume it is possible. Nevertheless, when i try to run it specifying ruby 2.6.5 it seems to ignore it and always run with ruby 2.7. I do see that it is the alpine version specified in the dockerfile. does it have to do with it?

## Why should this be added

If v3 is not able to run ruby 2.6.5, then having the documentatio

[2020-02-28 06:07] andrewmcodes commented on #124
Why do you need ruby 2.6.5?

[2020-02-28 06:09] andrewmcodes commented on #121
Closing this bc this is an edge case and I don’t see a simple way to support it.

[2020-02-28 06:09] #121 closed

[2020-02-28 06:10] andrewmcodes commented on #123
Closing due to no response.

[2020-02-28 06:10] #123 closed

[2020-03-03 10:49] rpbaltazar commented on #124
Ok, nevermind. I've initially misconfigured things which lead me to think i really needed 2.6.5.

Our current project has a hard dependency on 2.6.5 and i was setting up things to run with `bundle: true` which would then create the conflict between versions.

I've configured the action with version 3 and specifying all the gems we need to run rubocop and it works.
That being said, being able to ma

[2020-03-03 10:52] rpbaltazar commented on #124
Here is my latest config: https://gist.github.com/rpbaltazar/6993d0158aff623c9b9fadb47d7f5187

[2020-03-05 17:25] andrewmcodes commented on #124
sweet! Are we good to close this @rpbaltazar ?

[2020-03-06 02:28] #124 closed

[2020-03-08 22:57] Syntaf opened #125 "Unclear documentation around action secrets"
# Documentation

## Describe

I cannot for the life of me figure out what kind of token `secrets.GITHUB_TOKEN` is. Is this a personal access token? If it is, what privileges should be given with this token?

I have tried generating a personal access token with the scope `workflows`, then adding that token value to a `GITHUB_TOKEN` secret in my repository, but I only receive 401s on the action:

[c

[2020-03-09 20:05] es50678 opened #126 "Add Force Exclusion configuration option"
# Feature Request

## The Problem

When using the `check_scope: 'modified'` configuration, files excluded in `rubocop.yml` are not excluded. Namely, when in a rails repo `db/schema.rb` gets updated.

## The Solution

Add a `force_exclude` option to the action config, when this option is set to `true`(nil by default), add the `--force-exculde` command line option to the rubocop command builder.

##

[2020-03-09 20:05] es50678 commented on #126
Working on a PR for this. Will open it in sometime today.

[2020-03-09 22:12] andrewmcodes commented on #125
@Syntaf see the actions documentation for this token [here](https://help.github.com/en/actions/configuring-and-managing-workflows/authenticating-with-the-github_token#about-the-github_token-secret)

[2020-03-09 22:17] andrewmcodes commented on #126
Thanks for the PR! I need to read the docs a bit but I am down to accept this.

[2020-03-10 19:03] Syntaf commented on #125
Thanks @andrewmcodes! I hadn't realized GITHUB_TOKEN was a built-in secret.

[2020-03-10 19:03] #125 closed

[2020-03-12 16:46] andrewmcodes commented on #126
I’ll cut a release today or tomorrow. Thanks @es50678

[2020-03-12 16:46] #126 closed

[2020-03-12 18:25] andrewmcodes commented on #126
@es50678 just released v3.1.0 with your enhancement

[2020-03-13 10:57] antondalgren opened #131 "multi-repo: Action does not run"
# Bug Report

## Describe the bug

The action does not run.

Any suggestions on how we can debug this on our own? Or any fundamental things about this action that we missed?
# Reproduction Steps

We have a repository called main that resides the application code that I want to lint. Our linting config `.rubocop.yml` resides in a repository called tools. When everything is checked out, the tools fo

[2020-03-13 13:33] andrewmcodes commented on #131
@antondalgren hard to say without seeing the repo...do you get the same behavior when using v3.0.0 of the action?

[2020-03-13 13:35] andrewmcodes commented on #131
ohh wait - you are requiring those things in your rubocop config that rely on dependencies you don't have installed bc you aren't going through bundler. Include all of the gems you need (`rubocop_performance` etc.) that you are requiring in your rubocop config under versions in your action config. See [here](https://rubocop-linter-action.readthedocs.io/en/v3.0.0/configuration/#documentation)

[2020-03-13 13:37] andrewmcodes commented on #131
@antondalgren that's all you need so I'm closing this as an non-issue but if you have trouble - feel free to comment back and ill see if I can help but this isn't a bug - just a configuration issue on your end.

[2020-03-13 13:37] #131 closed

[2020-04-17 18:54] reconbot opened #135 "check_scope modified has a git failure but still runs"
# Bug Report

git fails and xargs runs rubocop anyway

## Describe the bug

I get this output when running the command to check for modified files.

![image](https://user-images.githubusercontent.com/25966/79604003-5914da80-80bb-11ea-9779-78083db03068.png)

(I can't show all the branches but we do have a master)

However when used with xargs it ignores the error and runs rubocop against everything

[2020-04-21 10:29] gresbtim opened #137 "cannot load such file -- rubocop-rails"
Gemfile:

`gem 'rubocop-rails'`

.rubocop.yml

[code]

ci-pipeline.yml
[code]

on push we get an error message
![image](https://user-images.githubusercontent.com/59562278/79855781-b36baf00-83cb-11ea-8f99-b2382822c827.png)

if we remove the rubocop-rails gem and replace it with just rubocop, it's working

[2020-04-23 15:17] tritowntim commented on #137
@gresbtim are you using `actions/setup-ruby` or `ruby/setup-ruby`?

`actions/` working for us, but `ruby/` is not

[2020-04-23 15:22] gresbtim commented on #137
can't find any of it in our source code. have to ask around, i didn't built the actions

[2020-04-23 15:29] tritowntim commented on #137
it would be in `ci-pipeline.yml` or another github action yml file

[2020-04-23 15:31] gresbtim commented on #137
a little bit simplified but this is the yml

[code]

[2020-04-23 19:31] yuriidanyliak opened #138 "No such file or directory - rubocop (Errno::ENOENT)"
# Bug Report

## Describe the bug

I am getting the error from the title when using `ruby/setup-ruby@v1` action in the workflow. With `actions/setup-ruby@v2`, there are no errors.
I also use another workflow, where doing ruby setup with `ruby/setup-ruby@v1` while running the tests, and there are no errors with this action.

## Stacktrace

<img width="622" alt="Screen Shot 2020-04-23 at 10 23 01 PM

[2020-04-24 08:46] andrewmcodes commented on #138
Can you post your rubocop config? Also - you don’t need to install the gems like that - the action will do it for you since you’ve specified it in your action config.

My guess is that the Rubocop config wont be the answer though and if not it would be really helpful if you could create a reproduction

[2020-04-29 12:32] taschetto commented on #138
Same here. Thanks in advance.

## main.yml

[code]

## .rubocop.yml

[code]

## output for `Run Rubocop checks` step

[code]

[2020-04-29 18:27] GaboFDC commented on #19
Sorry to reply on a closed issue, but is there any documentation or any explanation as to why we need to use the syntax like that? if we want to restrict by brach is then not possible?

[2020-05-08 22:18] andrewmcodes commented on #138
@taschetto You are referencing a different action `gimenete/rubocop-action@1.0` :)

[2020-05-08 22:23] andrewmcodes commented on #137
@gresbtim if you look at line 13 of your output, the action cannot find it's config file. Since you are running your actions in a docker container, you probably need to copy the config file into your container. I am not a docker expert so you will need to play with it - but this is not an issue with the action itself. [This](https://docs.docker.com/engine/reference/builder/#copy) may help point yo

[2020-05-08 22:25] andrewmcodes commented on #137
That is very interesting. I would expect people to be using `actions/` but you shouldn't actually need to install ruby bc this action should do that for you unless you need to bundle your gemfile. Could you reproduce this on a dummy app or post the log when it fails?

[2020-05-08 22:27] andrewmcodes commented on #137
Closing this for now as it seems like you have an issue with your custom dockerfile instead of there being an issue with the action. Feel free to reopen if something new comes up.

[2020-05-08 22:27] #137 closed

[2020-05-08 22:56] taschetto commented on #138
Oops. I'm so sorry for this. :(

[2020-05-19 16:52] ipmsteven opened #144 "Turn off ruby linter annotation on PR page"
Hi,
I am wondering if there is a way to turn off ruby linter annotation on PR page?

[2020-05-26 19:57] kmcclellan opened #145 "Configurable Rubocop Version"
# Feature Request

## The Problem

The version of Rubocop this linter uses differs from the one I use locally for my repositories. Due to syntax changes, my local `.rubocop.yml` doesn't work properly with the latest version and yields different results.

## The Solution

It'd be nice to be able to configure the version of Rubocop used in the action workflow. Better yet, this action could infer the

[2020-05-26 20:02] kmcclellan commented on #145
Ope, just found the [docs](https://rubocop-linter-action.readthedocs.io/en/v3.0.0/configuration/) on this. 😅

Oh well, perhaps this will help someone else who is also a dummy...

[2020-05-31 18:24] yamitcar opened #146 "Results JSON Parse"
# Bug Report

## Describe the bug

Hi this is the output, looks like the json.Parse receive an empty string:

` xargs: rubocop: No such file or directory
/usr/local/lib/ruby/2.7.0/json/common.rb:156:in `parse': 783: unexpected token at '' (JSON::ParserError)
	from /usr/local/lib/ruby/2.7.0/json/common.rb:156:in `parse'
	from /action/lib/results.rb:24:in `parsed_results'
	from /action/lib/results.r

[2020-06-08 23:57] andrewmcodes commented on #144
Hello, could you be a little more specific or post a screenshot please? Thanks!

[2020-06-16 00:56] brianlow opened #147 "Use Rubocop version from Gemfile.lock"
# Feature Request
Use Gemfile.lock to determine which rubocop version to run.

## The Problem
After dependabot bumps the rubocop version we have to manually update our linter config. If we forget then CI runs a differentl version than we use locally.

## The Solution
Read the rubocop version from Gemfile.lock

## Alternatives

## Additional Context

[2020-06-17 22:37] pacarvalho opened #148 "How to Add Github Badge"
![image](https://user-images.githubusercontent.com/860599/84957432-3017c280-b0c9-11ea-8d87-dd103d039087.png)

# Feature Request

## The Problem

It does not appear to be possible to associate a badge with this Action. The reason being that the Action spawns a separate job which (as shown in the image above) seems to associate itself to other workflows depending on whichever one is running at the t

[2020-06-18 14:12] jewilmeer opened #149 "Allow the github action check to fail"
# Feature Request

## The Problem

Right now, if the check finds rubocop suggestions, the run is green, and the suggestions are places. Is there a way to make the check fail as well, so the build does not appear to be green?

[2020-07-07 23:20] brianlow commented on #147
I came across the `bundle: true` option in the docs

[2020-07-07 23:20] #147 closed

[2020-07-12 03:01] andrewmcodes commented on #149
Please see the documentation around the config file. You can find that located [here](https://rubocop-linter-action.readthedocs.io/en/v3.0.0/configuration/). There is a config option for doing this.

[code]

[2020-07-12 03:01] #149 closed

[2020-07-12 03:11] andrewmcodes commented on #148
hm you appear to be correct. Are you interested and trying to find a fix?

Recreated with https://github.com/andrewmcodes/rubocop-linter-action-148/actions/runs/166108630.

[2020-07-12 03:11] andrewmcodes commented on #145
😄

[2020-07-12 03:12] andrewmcodes commented on #145
@kmcclellan is there anything we could do to make that easier to find in the docs?

Even better if you would be interested in submitting a PR :wink:.

Closing this for now, but I will add a special tag so people know there is an answer in here.

[2020-07-12 03:12] #145 closed

[2020-07-12 03:16] andrewmcodes commented on #144
Closing due to lack of response. Feel free to reopen if you are still having issues.

[2020-07-12 03:16] #144 closed

[2020-07-12 03:16] #138 closed

[2020-07-12 03:19] andrewmcodes opened #150 "Meta updates"
This is really just a note for myself. I need to come in here and do some cleanup.

- Test reported bugs and see if any are reproducible
- Move docs closer to the repo
- Test and release new version
- Address security issues

not necessarily in that order..

[2020-07-12 22:34] Malabarba opened #151 "Action always passes silently if using `on: [pull_request]`"
First of all, thanks for developing this action!

# Bug Report

## Describe the bug

If the action definition uses `on: [pull_request]` instead of `on: [push]` no rubocop failures are reported.

# Reproduction Repo

Reproduction repo: https://github.com/Malabarba/rubocop-linter-action-reproduction-template/pull/2/checks

The PR above simply takes the default reproduction template and adds a new ac

[2020-07-20 18:03] andrewmcodes commented on #151
The action requires push access to the repo in order to work due to how the GitHub Checks API works. If you need to run Rubocop on pull requests from users without push access, you will not be able to use this action. Lmk if I can say more.

[2020-07-20 18:10] Malabarba commented on #151
Hey there. I'm not sure if I understand you correctly. But the reproduction example I linked above is on a repo of mine where I have full access, so I don't think it's related to user permission.

[2020-07-20 20:20] andrewmcodes commented on #151
@Malabarba Sorry, I should have been more clear. If you have push access to a repo, then running the action on a `push` event is equivalent to running on a `pull_request` event. **In order for this action to work correctly, it needs to run on a `push` event.** I remember this coming up in the past but don't remember all of the context around it, though it is likely in one of the closed issues tha

[2020-07-23 12:05] MiguelSavignano commented on #148
Hello, @pacarvalho

Yes, the linter action can return an exit code, to stop the main workflow.
Keep in mind that this does not execute the next steps after the failure of the linter.

[2020-07-23 15:35] MiguelSavignano commented on #151
@Malabarba maybe this issue is related to this PR #153.

You can decide if the action should fail on failure or not.

[2020-07-24 12:26] Malabarba commented on #151
I see now. Thanks for clariflying.

[2020-08-11 23:42] ioquatix opened #154 "The project name casing is incorrect."
The name of the project "Rubocop" does not follow the casing of the project, which is "RuboCop".

This can be seen in a variety of places, including the README:

https://github.com/rubocop-hq/rubocop

Thanks for your effort making this action.

[2020-08-12 15:08] andrewmcodes commented on #154
@ioquatix thanks for pointing this out. We’ll get it fixed.

[2020-08-23 14:35] stephenreid321 opened #156 "No such file or directory - rubocop (Errno::ENOENT)"
# Bug Report

## Describe the bug

Github Action fails with
/usr/local/lib/ruby/2.7.0/open3.rb:213:in `spawn': No such file or directory - rubocop (Errno::ENOENT)

## Stacktrace

ACTIONS_CACHE_URL -e GITHUB_ACTIONS=true -e CI=true -v "/var/run/docker.sock":"/var/run/docker.sock" -v "/home/runner/work/_temp/_github_home":"/github/home" -v "/home/runner/work/_temp/_github_workflow":"/github/workflow

[2020-08-29 13:44] borisko123 commented on #156
+1

[2020-08-31 01:14] andrewmcodes commented on #156
@stephenreid321

It appears to be looking for `.github/config/rubocop_linter_action.yml` for some reason. Can you you add a config file and then verify if that solves the issue?

If so we just need to make this method safe against not finding the file.

[2020-09-01 15:00] amanfrinati commented on #151
It's the same for me. I have to replace `on: [pull_request]` with `on: [push]`

[2020-09-01 15:01] amanfrinati commented on #135
It's the same for me.. I fixed this problem using `- uses: actions/checkout@**v1**`

[2020-09-09 10:24] andrewmcodes commented on #151
@amanfrinati odd, could you humor me and try using master instead of a specific version for this action?

[2020-09-09 10:24] #150 closed

[2020-09-09 10:27] andrewmcodes commented on #135
@amanfrinati Can you create a reproduction?

[2020-09-09 10:28] andrewmcodes commented on #135
Duplicate of #146 I believe.

[2020-09-09 10:28] #135 closed

[2020-09-09 10:29] andrewmcodes commented on #146
@yamitcar Can you try using master instead of the lates release?

[2020-09-09 10:35] andrewmcodes opened #157 "Put docs back in README or wiki"
# Documentation

## Describe

Pull documentation back into README.

Docs are currently being hosted via readthedocs. Remove any config related to that (#79 for example) and merge the separate doc files back into the readme or wiki. Once thats done, ill remove readthedocs.

## Why should this be added

The docs are currently hosted via ReadTheDocs but I'm worried that having them so far away is cre

[2020-09-10 16:30] tonyvince opened #159 "Only run Rubocop against the diff"
# Feature Request

## The Problem

I have `check_scope: 'modified'` which runs Rubocop against the files that are modified. But this is really frustrating when you are working with a legacy codebase.

## The Solution

What would be really nice is a config option to run Rubocop against the actual diff change

## Alternatives

Custom action running [rubocop-git](https://github.com/m4i/rubocop-git)

[2020-09-12 20:51] #154 closed

[2020-09-12 20:51] #157 closed

[2020-09-12 21:04] andrewmcodes commented on #159
Hey, there! 👋

That sounds cool, unfortunately:

This project is done in terms of features. If the project is severely broken due to a change in GitHub or RuboCop, it will be archived at that time and left to those that care about it to fork, fix, and maintain.

I will be happy to review your pull request, but will not be adding any more myself, and will likely not be accepting changes that increa

[2020-09-12 21:04] #159 closed

[2020-09-12 21:34] #148 closed

[2020-09-12 21:42] andrewmcodes commented on #156
User `v3.3.0`.

[2020-09-12 21:42] #156 closed

[2020-09-12 21:43] andrewmcodes commented on #151
Please upgrade to `v3.3.0`.

I saw an old commit where we specifically called this out. It had to do with the checkout version.

[2020-09-12 21:43] #151 closed

[2020-09-12 21:43] andrewmcodes commented on #146
Please upgrade to `v3.3.0`.

[2020-09-12 21:43] #146 closed

[2020-09-17 13:58] amanfrinati commented on #151
I tried version 3.3.0 with `on: [pull_request]` trigger but I obtain another error:

`invalid byte sequence in UTF-8`

![image](https://user-images.githubusercontent.com/12152862/93480713-08b9d700-f8fe-11ea-87b0-90a5fc37b3d9.png)

It still works only with `on: [push]` trigger.

[2020-10-15 00:56] btoconnor opened #162 "Annotations not showing up"
# Documentation

## Describe

Hi - sorry - I know this isn't a documentation issue.  I've recently upped to 3.3.0.  The build is now failing appropriately when there is a rubocop issue (as opposed to 3.0.0).  However - I can't get annotations to show up on the PR.  I've only gotten that to work once, and I cannot reproduce it on PRs at all - it's extremely confusing.

Is there something obviously

[2020-10-17 16:32] btoconnor commented on #162
I'm not sure if this is helpful or just more confusing - but I seem to have narrowed this down a little.  It appears as if the annotations don't show up for any events that are triggered by the `pull_request` event.  If I switch to `on: [push]` I can reliably get the annotations to appear in the PR.

I'm not sure if this is by design, bug, or unintentional.  I do know that the eslint action does n

[2020-10-21 19:55] milani commented on #162
I still don't get annotations with `push` as the only trigger.

[2020-10-30 18:13] gsar opened #163 "how is bundle: true meant to work if the ruby version in Gemfile is not 2.7.0"
# Documentation

## Describe

We enabled the `bundle: true` option in the config, however we are at ruby 2.7.2 while this gem's Dockerfile uses 2.7.0. The workflow then just fails like this:

![image](https://user-images.githubusercontent.com/6981812/97741935-c826af00-1aa0-11eb-8534-bf0abe4913bd.png)

How is the `bundle: true` option meant to be used in this scenario?

## Why should this be added

[2020-11-07 19:56] andrewmcodes commented on #162
@btoconnor Howdy, please see the following documentation:

https://github.com/andrewmcodes/rubocop-linter-action/commit/94a6485da991df7d08a10ec2e123774109a39371#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R34

[2020-11-07 20:00] andrewmcodes commented on #162
Whoops apparently that didn't link correctly. Sorry I'm on my phone and it's not copying the line reference like I want it to but it's this first paragraph https://github.com/andrewmcodes/rubocop-linter-action#rubocop-linter-action

[2020-11-07 20:00] #162 closed

[2020-11-07 20:03] andrewmcodes commented on #163
@gsar Have you set up the correct ruby version you want prior to running this in your action config? I believe if you set it up yourself it will use your version and otherwise default to ours but now I'm questioning whether that's true. I feel like this would have been raised awhile ago if this weren't the case.

[2020-11-09 20:29] gsar commented on #163
@andrewmcodes yes, we have ruby 2.7.2 in the `Gemfile` and it is deployed, etc.

[2020-11-09 20:30] andrewmcodes commented on #163
@gsar Sorry I'm referring to your workflow file.

[2020-11-09 20:36] gsar commented on #163
@andrewmcodes yes, the workflow file specifies the right ruby version like this:

[code]

i couldn't get the caching working either, so i've given up and moved to using https://github.com/wearerequired/lint-action

[2020-11-22 23:58] andrewmcodes commented on #163
This action is meant to be run by itself.

Just remove the plugin and run Rubocop the same way you're doing that bundle install or look into the pronto Rubocop action.

Unfortunately this project is deprecated for a reason.

Good luck!

[2020-11-22 23:59] #163 closed